function timeYMtoZW (time) {
  return time.replace(getRegExp('(\d*)-(\d*)', 'g'), '$1年$2月')
}

function timeYMDtoD (time) {
  return time.replace(getRegExp('(\d*)-(\d*)-(\d*)', 'g'), '$3')
}

function scrollTop (data, index) {
    var style = 'top: '
    if (data[index]) {
        style = style + data[index].top + 'px;'
    }
    return style
}

function scrollIf (data, index) {
    return (data.start <= index) && (index <= data.end)
}

module.exports = {
  timeYMtoZW: timeYMtoZW,
  timeYMDtoD: timeYMDtoD,
  scrollTop: scrollTop,
  scrollIf: scrollIf,
}
